/*
*   Main game page CSS
*/
body, html {
    margin: auto;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6, li, a {
    font-family: Helvetica, Arial, sans-serif;
}
br.clear {
    clear: both;
}
#sidebar {
    width: 240px;
    background: #222;
    height: 100vh;
    float: left;
    box-shadow: 3px 0 9px rgba(0,0,0,0.15);
}
#sidebar ul {
    display: block;
    margin: 0 auto;
    padding: 0;
}
#sidebar ul .user {
    padding: 20px 0 30px 15px;
    color: #ddd;
}
#sidebar ul .user img {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    background: red;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}
#sidebar ul .title {
    padding-left: 15px;
    cursor: default;
    font-family: Arial;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
#sidebar ul li {
    display: block;
    font-size: 16px;
}
#sidebar ul a {
    display: block;
    margin: 4px 0;
    padding: 13px 0 13px 25px;
    text-decoration: none;
    color: #bbb;
}
#sidebar ul a:hover {
    background: #333;
    color: #3cb0de;
    text-shadow: 1px 2px 0px #004b4e;
}
#content {
    margin-left: 240px;
    background: #f0f0f0;
    height: 100vh;
}
#boardContainer {
    background: 0;
    width: 600px;
    margin: auto;
}
#boardContainer p {
    display: block;
    margin: 0 auto;
}
#boardContainer div.topbar {
    height: 25px;
}
#boardContainer p.player.left {
    float: left;
}
#boardContainer p.player.right {
    float: right;
}
canvas#board {
    background: #7f7;
    display: block;
    border: 6px solid #222;
}