* {
  margin: 0;
  padding: 0;
}
body {
  background: #f1f1f1;
}
p, a, h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
}
.modal {
  background: #444;
  overflow: hidden;
}
.modal * {
  margin: auto;
  width: fit-content;
}
.modal .title {
  color: #eee;
  font-size: 18px;
  background: #222;
  border-bottom: 1px solid #666;
  display: block;
  text-align: center;
  padding: 5px 0;
  width: auto;
  margin-bottom: 25px;
}
.modal a {
  display: block;
  color: #8e66a0;
}
input {
  outline: none !important;
}
input[type=text],input[type=password] {
  border: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #ddd;
  padding: 10px;
  display: block;
  margin: 10px auto;
}
input[type=submit] {
  font-size: 16px;
  background: #a358c5;
  color: #fff;
  border: 0;
  padding: 14px 78px;
  display: block;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #431f4e;
}
input[type=submit]:hover {
  background: #b36fd2;
}

.modal.login {
  height: 290px;
  width: 280px;
  border-radius: 6px;
  margin: 80px auto;
}